<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="mytory.folding.js"></script>



    <title>Document</title>

        
                

               
</head>
<body>
<div class="folder" title="이거">접었다폈다</div>
<div class="log">
        <a href="{% url "accounts:signup" %}">회원가입</a>
        <a href="{% url "accounts:login" %}">로그인</a>
</div>

        
    <style>
        .log{
            position: fixed;
            left:45%;
            bottom:10px;
            font-size:20px;
            color: white;
        }
        .log a{
            color:white;
        }
        body { 
            background-color: rgb(46, 45, 45); 
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <script>
        $(function(){
	/**
	 * class="folder"를 접었다 폈다 하게 만든다.
	 * title="이 글"로 달면 버튼에 반영된다. ex) 이 글 열기, 이 글 닫기
	*/
	$('.folder').each(function(){
		var openFolderTitle = '';
		var closeFolderTitle = '';
		var folderTitle = $(this).attr('title');
		openFolderTitle = folderTitle + ' 열기';
		closeFolderTitle = folderTitle + ' 닫기';
		$.trim(openFolderTitle);
		$.trim(closeFolderTitle);
		$(this).wrap('').hide()
			.before('<p style="text-align: center;"><button class="toggleNext">' + openFolderTitle + '</button></p>')
			.append('<p style="text-align: right;"><button class="closeParent">닫기</button></p>');
	});

	$('.toggleNext').each(function(){
		$(this).click(function(){
			
			var openFolderTitle = '';
			var closeFolderTitle = '';
			var folderTitle = $(this).parent().next().attr('title');
			openFolderTitle = folderTitle + ' 열기';
			closeFolderTitle = folderTitle + ' 닫기';

			$(this).parent().next().slideToggle('slow');
			if(/열기/.test($(this).text())){
				$(this).text(closeFolderTitle);
			}else{
				$(this).text(openFolderTitle);
			}
		});
	});

	$('.closeParent').each(function(){
		$(this).click(function(){
			var folderTitle = $(this).parent().parent().attr('title');
			var openFolderTitle = folderTitle + ' 열기';
			$.trim(openFolderTitle);
			$(this).parent().parent().slideUp().prev().find('button').text(openFolderTitle);
		});
	});
});
    </script>
    {% block body %}
    {% endblock  %}
</body>
</html>